<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzy.manager" >


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.SettingsActivity"
            android:theme="@style/activity_theme"
            android:launchMode="singleTask"
            />

        <activity android:name=".view.ContentManagerActivity"
            android:theme="@style/activity_theme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />

        <activity android:name=".view.GoodsDetailActivity"
            android:theme="@style/activity_theme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>
